*/db
*/incremental_db
*/output_files
*/greybox_tmp
*/work

*/*/db
*/*/incremental_db
*/*/output_files
*/*/greybox_tmp
*/*/work
*/*/transcript
*/*/wlftfwzt3r

*.bdf
*.qsf
*.qws
*.cr.mti
*.mpf
*.ppf
*.qip
*.v
*.wlf
*.vstf