1_week/first_prj/db
1_week/first_prj/incremental_db
1_week/first_prj/output_files
2_week/binary_counter/db
2_week/binary_counter/greybox_tmp
2_week/binary_counter/incremental_db
2_week/binary_counter/output_files
2_week/binary_counter/work
2_week/shift_registers/work
5_week/my_UART/work
5_week/my_UART/transcript
5_week/my_UART/wlftfwzt3r
8_week/codeKheminga/work
*.bdf
*.qsf
*.qws
*.cr.mti
*.mpf
*.ppf
*.qip
*.v
*.wlf
*.vstf